@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Slab', serif;
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    background-image: linear-gradient(to right top, #e52d27, #d82723, #cc201f, #bf191b, #b31217);
    color: #fff;
    text-align: right;
    font-size: 30px;
    box-sizing: border-box;
    display: none;
}

nav {
    width: 100%;
    background-image: linear-gradient(to right top, #e52d27, #d82723, #cc201f, #bf191b, #b31217);
    box-shadow: 0px 5px 5px #2b2a2a96;
    position: fixed;
    z-index: 1;
    text-align: right;
}

nav ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 18px;
    justify-content: flex-end;
    border-bottom: 4px solid transparent;
}

.item-list{
    padding: 25px 15px 25px 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    border-bottom: 4px solid white;
}

#welcome-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}

.title-h1 {
    font-weight: 900;
    font-size: 70px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-left: 5%;
}

#projects {
    padding: 15vh 4.5vh;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to right top, #e52d27, #d82723, #cc201f, #bf191b, #b31217);
    margin-left: -4.5%;
    padding-left: 2.4%;
}

#projects-title{
    padding-bottom: 5%;
    color: white;
    text-align: center;
    padding-right: 7%;
    padding-left: 11%;
    font-size: 30px;
    font-weight: 500;
}

.projects-guideline{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-right: 7%;
    padding-left: 11%;
}

.projects-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;  
}

.flip-card{
    background-color: transparent;
    width: 400px;
    height: 250px;
    perspective: 2000px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    border: 4px outset white;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front{
    background-color: #000000;
    color: #fff;
}

.flip-card-back{
    background-color: rgb(20, 33, 37);
    color: white;
    transform: rotateY(180deg);
    line-height: 4;
}

.flip-card-text {
    line-height: 1.5;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.button-project{
    color: white;
    padding: 1px 32px 1px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    border: 2px solid white;
    text-decoration: none;
}

.button-project:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.image-project{
    width: 400px;
    height:  250px;
}

#tools{
    padding: 15vh 4.5vh;
    width: 100%;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
    margin-left: -4.5%;
    padding-left: 2.4%;
}

#title-tools {
    padding: 1vh 14vh 14vh 14vh;
    text-align: center;
    padding-left: 11%;
}

.tools-guideline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools-screen {
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding-right: 7%;
    padding-left: 11%;
}



.icon-tool {
    font-size: 60px;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.icon-tool:hover{
    transform: scale(1.2);
}



#contact {
    width: 100%;
    background-image: linear-gradient(to right top, #e52d27, #d82723, #cc201f, #bf191b, #b31217);
    padding: 15vh 4.5vh;
    margin-left: -4.5%;
    padding-left: 2.4%;
}

#title-contact{
    padding: 1vh 14vh 1vh 14vh;
    padding-left: 11%;
    font-weight: 500;
    font-size: 50px;
    color: white;  
    text-align: center;
}

#p-contact{
    color: rgb(255, 255, 255);  
    text-align: center;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 5%;
}


.contact-guideline{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-screen{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding-right: 7%;
    padding-top: 3%;
    padding-left: 11%;
}

.link-profile {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.profile-icon {
    font-size: 23px;
    font-weight: 500;
}

#footer-credits {
    text-align: center;
    padding: 10% 2% 0 7%;
    color: white;
}

.footer-link {
    color: white;
}



@media (max-width: 1100px){

    #welcome-section{
        width: 100%; 
    }

    #projects {
        width: 100%;
        margin-left: -8.5%;
    }

    #projects-title {
        padding-left: 22%;
        font-size: 40px;
    }

    .projects-screen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 8%;

    }

    .flip-card{
        width: 350px;
        height:  200px;
    }

    .image-project{
        width: 350px;
        height: 200px;
    }

    #tools{
        width: 100%;
        margin-left: -8.5%;
    }


    #title-tools{
        padding-left: 30%;
        font-size: 40px;
    }

    .tools-screen {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 20%;
    }

    #contact {
        width: 100%;
        margin-left: -8.5%; 
    }

    #title-contact{
        padding-left: 30%;
        font-size: 40px;
    }

    #p-contact{
        padding-left: 10%; 
    }

    .contact-screen{
        padding-left: 20%;
    }

    .text-profile{
        display: none;
    }

    #footer-credits {
        text-align: center;
        padding: 10% 0 0 10%;
        color: white;
    }

}



@media (max-width: 600px){

    ul {
        width: 100%;
        display: none;
    }

    ul li{
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .toggle{
        display: block;
        cursor: pointer;
    }

    .active{
        display: block;
    }

    #welcome-section{
        width: 100%; 
    }

    nav ul li:hover {
        background-image: linear-gradient(to right top, #c02a25, #b4221f, #a71919, #9b1416, #941014);
        border: none;
    }

    #projects {
        width: 100%;
        margin-left: -12.2%;
    }

    #projects-title {
        padding-left: 30%;
        margin-top: -20px;
    }
    
    .projects-screen {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 12px;
        padding-left: 25%;
        margin-left: -25px;
    }


    .flip-card{
        width: 300px;
        height: 200px;
    }

    .flip-card-back{
        line-height: 1.7;
    }

    .image-project{
        width: 300px;
        height:  200px;
    }

    #tools{
        width: 100%;
        margin-left: -12.2%;
    }

    #title-tools{
        padding-left: 45%;
        text-align: center;
        margin-right: -30px;
    }

    .tools-screen {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-left: 32%;
        margin-top: -60px;
    }

    #contact {
        width: 100%;
        margin-left: -12.2%;
        
    }

    #title-contact{
        padding-left: 45%;
        text-align: center;
        margin-right: -30px;
        font-size: 32px;
        
    }

    #p-contact{
        padding-left: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        margin-right: -30px;
        
    }

    .contact-screen{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-gap: 10px;
        padding-left: 30%;
        text-align: center;
    }

    .text-profile{
        display: inline-block;
    }

    #footer-credits {
        text-align: center;
        padding: 10% 0 0 22%;
        color: white;
    }

}